.ui.form{
margin-top:30px !important;
}

.ui.three.cards>.card  {
  padding:20px !important;
  border-radius:10px;
  border: 1px solid #eee;
}

.header, .flex-row {
  padding:10px;
}

.pasta {
margin-left:5px;
}

a {
  color:black !important;
}

.ui.card>.content, .ui.cards>.card>.content {
  border-top: none !important;
}

.ui.card .content img, .ui.cards>.card .content img {
  border-radius: 5px 5px 0px 0px !important;
  width:100vw;
}

.ui.card>.content, .ui.cards>.card>.content {
  padding: 0 !important;
}

.logo {
  width:5%;
  float:left;
}

h2 {
  text-align:center;
}

img {
    margin: auto;
    display: block;
    width:50%;
    border-radius: 50%;
  }
